<h1>Tool Yard</h1>



<div class="hero">


<%#= image_tag "bannerimage.png", alt:"banner image for power tools" %>

</div>

<p>
    "Even heroes need the right tools"
</p>
<main id="product-index">
    <div class="banner-img"></div>
    <h1>All Tools</h1>
    <form action="<%= products_path %>" method="GET">
        <input type="search" name="search" />
        <input type="submit" value="Search tool">

    </form>

    
    -----search button----

   
</main>

<h2> Top searchers </h2>
<ol>
    <li>Drill</li>
    <li>Drill</li>
    <li>Drill</li>
</ol>




