// .hero {
//     width: auto;
//     height: 300px;
//     background-image: url(image-path("bannerimage.png"));
//     background-size: cover;
//   }
  
  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }